<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="BankListCtrl">

<p>Bank Austria Table</p>

Kontostand zum Beginn: <input type="text" ng-model="startingbalance" placeholder="0" ng-change="calculateFromBegin(startingbalance)"/>
Kontostand jetzt: <input type="text" ng-model="currentbalance" placeholder="0" ng-change="calculateFromEnd(currentbalance)"  />

<table>
    <thead>
    <tr>
        <td>Buchungsdatum</td>
        <td>Buchungsbetrag</td>
        <td>Buchungstext</td>
        <td>Kontobalance</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in bookingitems">
        <td>{{item['bookingdate']}}</td>
        <td>{{item['accountchange']}}</td>
        <td>{{item['bookingtext']}}</td>
        <td>{{item['currentbalance']}}</td>
    </tr>
    </tbody>

</table>

</body>
</html>
